body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container{
  width: 720px;
  height: 320px;
  background-color:#f9f9f9;
  display: flex;
  border: 3px solid #eeeeee;
  border-right-width: 6px;
}
.camada{
  padding: 35px;

}
.item{
  padding-left: 7px

}
.text{
  font-size: 18px;
  padding-top: 14px ;
  padding-right: 6px;
  color:#818181;
  font-weight: normal;
}
.numeros{
  font-size: 32px;
  color: #335d84;
  font-weight: normal;


}


